body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #35478C, #7D7D7D);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    color: #FFF;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}


label {
    display: block;
    font-size: 16px;
    color: #FFF;
    margin-bottom: 10px;
}

input[type="text"] ,
input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #0c0962;
    color: #FFF;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #1BC5E0;
}

p {
    font-size: 20px;
    color: #af1f1f;
    text-align: center;
    margin-top: 10px;
}